@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Smokum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
.header {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "header_logo" "header_menu";
  align-items: center;
  position: sticky;
  top: 0;
  grid-area: "header";
  z-index: 9999;
  background-color: white;
}
.header .header_logo {
  display: flex;
  align-content: flex-end;
}
.header .header_logo img {
  flex: 1;
  width: 55%;
  border-radius: 64px;
}
.header .header_menu {
  display: flex;
  background-color: #41D9E6;
  align-items: center;
  justify-content: space-around;
  flex: 2;
  margin: auto 5rem auto 0;
  grid-area: "header_menu";
}
.header .header_menu div .panelmenu .menu {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.header .header_menu div .panelmenu .menu .menu_item {
  padding: 0em 1em;
  margin: 1em;
  background-color: #41D9E6;
  font-size: 1.2em;
  text-decoration: none;
}
.header .header_menu div .panelmenu .menu .menu_item a {
  text-decoration: none;
  color: white;
  text-align: center;
}
.header .header_menu div .panelmenu .menu .menu_item a:hover {
  font-weight: bold;
}

.logo_contacto_footer {
  width: 10%;
}

#logo_petit_footer {
  /* logo de Petit Bocatto del Footer */
  width: 30%;
  display: flex;
  align-items: center;
}

/*@import url('https://fonts.googleapis.com/css2?family=Smokum&display=swap');*/
.pagina__titulo div {
  display: flex;
  justify-content: center;
  font-family: "Sacramento", cursive;
  /*'Smokum',cursive;*/
  font-style: italic;
  text-decoration: underline;
  font-size: calc(1em + 0.7vw);
  color: #00b2bf;
}

h2 {
  font-size: 1.2rem;
  color: #00b2bf;
}
h2 #acercadenosotros p {
  font-family: "Smokum", cursive;
  font-size: 1rem;
}

/*  Estilos para el form de Contacto */
body {
  background-color: #d1f3e7;
}

#title-Tag-Line {
  font-size: 20px;
}

::-webkit-input-placeholder {
  font-size: 1.3em;
}

.titulo {
  display: block;
  font-family: sans-serif;
  margin: auto;
  width: auto;
}

.termsConditions {
  margin: 0 auto 5px 80px;
}

.form-titulo {
  font-size: 2em;
  font-weight: bold;
}

.secondaryTitle {
  color: grey;
}

.name {
  background-color: #ebebeb;
  color: white;
}

.name:hover {
  border-bottom: 5px solid #0e3721;
  height: 30px;
  width: 380px;
  transition: ease 0.5s;
}

.email {
  background-color: #ebebeb;
  height: 2em;
}

.email:hover {
  border-bottom: 5px solid #0e3721;
  height: 30px;
  width: 380px;
  transition: ease 0.5s;
}

.tel {
  background-color: #ebebeb;
  height: 2em;
}

.tel:hover {
  border-bottom: 5px solid #0e3721;
  height: 30px;
  width: 380px;
  transition: ease 0.5s;
}

.message {
  background-color: #ebebeb;
  overflow: hidden;
  height: 10rem;
}

.message:hover {
  border-bottom: 5px solid #0e3721;
  height: 12em;
  width: 380px;
  transition: ease 0.5s;
}

.formEntry {
  display: block;
  margin: 30px auto;
  min-width: 300px;
  padding: 10px;
  border-radius: 2px;
  border: none;
  transition: all 0.5s ease 0s;
}

.submit {
  width: 200px;
  color: white;
  background-color: #00B2BF;
  font-size: 20px;
}

.submit:hover {
  box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
  transform: translateY(-3px);
  width: 300px;
  border-top: 5px solid #0e3750;
  border-radius: 0%;
}

@keyframes bounce {
  0% {
    tranform: translate(0, 4px);
  }
  50% {
    transform: translate(0, 8px);
  }
}
/*  BOTÓN ENVIAR FORMULARIO  */
/* From cssbuttons.io by @adamgiebl */
button {
  font-family: "Smokum", cursive;
  font-size: 20px;
  background: royalblue;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
}

button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

button:hover span {
  transform: translateX(5em);
}

button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }
  to {
    transform: translateY(-0.1em);
  }
}
/*Reseteo los margenes y padding a cero*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*# sourceMappingURL=style.css.map */
