@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Smokum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Smokum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
.header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  position: sticky;
  top: 0;
  display: flex;
  z-index: 9999;
  background-color: white;
}
.header .header_logo {
  display: flex;
  align-items: flex-end;
}
.header .header_logo img {
  flex: 1;
  width: 55%;
  border-radius: 64px;
}
.header .header_menu {
  background-color: #41D9E6;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 5;
  margin: auto 0 auto 0;
}
.header .header_menu div .panelmenu .menu {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.header .header_menu div .panelmenu .menu .menu_item {
  padding: 0 1em;
  margin: 1em;
  background-color: #41D9E6;
  font-size: 1.2em;
  text-decoration: none;
}
.header .header_menu div .panelmenu .menu .menu_item a {
  text-decoration: none;
  color: white;
  text-align: center;
}
.header .header_menu div .panelmenu .menu .menu_item a:hover {
  font-weight: bold;
}

.active_menu {
  padding: 2rem;
  font-weight: bold;
  background-color: #19b4c1;
}

@media (max-width: 575px) {
  .header_menu {
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .header_menu {
    width: 100%;
  }
}

@media (max-width: 575px) {
  #logo_menu2 {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  #logo_menu2 {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #logo_menu2 {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #logo_menu2 {
    display: none;
    flex: 1;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  #logo_menu2 {
    display: flex;
    flex: 1;
  }
}
@media (min-width: 1400px) {
  #logo_menu2 {
    display: flex;
    flex: 1;
  }
}

.logo_contacto_footer {
  width: 30%;
}

#logo_petit_footer {
  /* logo de Petit Bocatto del Footer */
  /*width: 30%;*/
  display: flex;
  align-items: center;
  flex: 0.37;
  width: 30%;
  border-radius: 34px;
}

@media (max-width: 575px) {
  #footer_contenido {
    display: flex;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  #footer_contenido {
    display: flex;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #footer_contenido {
    display: flex;
  }
}

.message:hover, .tel:hover, .email:hover, .name:hover {
  border-bottom: 5px solid #0e3721;
  height: 30px;
  width: 380px;
  transition: ease 0.5s;
}

.pagina__titulo div {
  font-family: "Sacramento", cursive;
  font-display: swap;
}

button, h2 #acercadenosotros p {
  font-family: "Smokum", cursive;
  font-display: swap;
}

.pagina__titulo div {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  font-size: calc(1em + 0.7vw);
  font-style: italic;
  color: #00b2bf;
}

h2 {
  font-size: 1.2rem;
  color: #00b2bf;
}
h2 #acercadenosotros p {
  font-size: 1rem;
}

/* carousel Inicio*/
@media (min-width: 992px) and (max-width: 1199px) {
  .carouselExampleControls {
    width: 50%;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .carouselExampleControls {
    width: 50%;
  }
}
@media (min-width: 1400px) {
  .carouselExampleControls {
    width: 50%;
  }
}

/*  Estilos para la galeria */
#galeria .row .col-lg-4 {
  padding: 20px;
}
#galeria .row .col-lg-4 img {
  width: 100%;
  height: 350px;
}
#galeria .row .col-lg-4 img:hover {
  border: 5px solid #f7f7f7;
}

/*  Estilos para el form de Contacto */
#title-Tag-Line {
  font-size: 20px;
}

::-webkit-input-placeholder {
  font-size: 1.3em;
}

.titulo {
  display: block;
  font-family: sans-serif;
  margin: auto;
  width: auto;
}

.termsConditions {
  margin: 0 auto 5px 80px;
}

.form-titulo {
  font-size: 2em;
  font-weight: bold;
}

.secondaryTitle {
  color: grey;
}

.name {
  background-color: #ebebeb;
  color: white;
}

.email {
  background-color: #ebebeb;
  height: 2em;
}

.tel {
  background-color: #ebebeb;
  height: 2em;
}

.message {
  background-color: #ebebeb;
  overflow: hidden;
  height: 10rem;
}

.message:hover {
  height: 12em;
}

.formEntry {
  display: block;
  margin: 30px auto;
  min-width: 300px;
  padding: 10px;
  border-radius: 2px;
  border: none;
  transition: all 0.5s ease 0s;
}

.submit {
  width: 200px;
  color: white;
  background-color: #19b4c1;
  font-size: 20px;
}

.submit:hover {
  box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
  transform: translateY(-3px);
  width: 300px;
  border-top: 5px solid #0e3750;
  border-radius: 0%;
}

@keyframes bounce {
  0% {
    transform: translate(0, 4px);
  }
  50% {
    transform: translate(0, 8px);
  }
}
/*  BOTÓN ENVIAR FORMULARIO  */
/* From cssbuttons.io by @adamgiebl */
button {
  font-size: 20px;
  background: #19b4c1;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
}

button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

button:hover span {
  transform: translateX(5em);
}

button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }
  to {
    transform: translateY(-0.1em);
  }
}
/*Reseteo los margenes y padding a cero*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.disclaimer {
  display: none !important;
}

/*# sourceMappingURL=style.css.map */
