
@import '../scss/base/header';
@import '../scss/base/footer';
@import '../scss/base/body';
/*Reseteo los margenes y padding a cero*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.disclaimer{
    display: none !important;
}
