@import '../components/mapas';
@mixin posicion($display:flex, $align-items:stretch,$justify-content:flex-start){
    display: $display;
    align-items:$align-items;
    justify-content:$justify-content;

}



