
@import '../components/extends';
@import '../components/mapas';
@import '../components/mixin';
@import '../components/mediaQuery';

  .pagina__titulo {
    div{
      
      @include posicion(flex,null,center);
        text-decoration:underline ;
        font-size: calc(1em + .7vw);
        font-style: italic;
        color: map-get($marca_producto , color-titulo ) ;
        @extend %tipografia;
    }
  }
  h2{
    font-size: 1.2rem;
    color: map-get($marca_producto , color-titulo ) ;
    #acercadenosotros{
        p{
            @extend %tipografia_subTitulo;
            font-size: 1rem;
        }
    }
  }

  /* carousel Inicio*/
  .carouselExampleControls{
  
    @include lg{
        width: 50%;
    }
    @include xl{
      width: 50%;
    } 
    @include xxl{
      width: 50%;
    }
  }
  /*  Estilos para la galeria */
  #galeria .row .col-lg-4{
    padding: 20px;
   
   
   
      img{
        width: 100%;
        height: 350px;
        
        &:hover{
          border: 5px solid #f7f7f7;
        }
      }
   
  }
 



  /*  Estilos para el form de Contacto */


  
  #title-Tag-Line {
    font-size: 20px;
  }
  

  ::-webkit-input-placeholder {
    font-size: 1.3em;
  }
  
  .titulo{
    display: block;
    font-family: sans-serif;
    margin: auto;
    width: auto;
  }
  .termsConditions{
    margin: 0 auto 5px 80px;
  }
  
  .form-titulo{
    font-size: 2em;
    font-weight: bold;
  }
  .secondaryTitle{
    color: grey;
  }
  
  .name {
    background-color: #ebebeb;
    color: white;
  }
  .name:hover {
    @extend %formulario_hover;
  }
  
  .email {
    background-color: #ebebeb;
    height: 2em;
  }
  
  .email:hover {
    @extend %formulario_hover;
  }
  .tel{
    background-color: #ebebeb;
    height: 2em;
  }
  
  .tel:hover {
    @extend %formulario_hover;
  }
  .message {
    background-color: #ebebeb;
    overflow: hidden;
    height: 10rem;
  }
  
  .message:hover {
    
    @extend %formulario_hover;
    height: 12em;
  }
  
  .formEntry {
    display: block;
    margin: 30px auto;
    min-width: 300px;
    padding: 10px;
    border-radius: 2px;
    border: none;
    transition: all 0.5s ease 0s;
  }
  
  .submit {
    width: 200px;
    color: white;
    background-color: map-get($marca_producto, color-boton );
    font-size: 20px;
  }
  
  .submit:hover {
    box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
    transform: translateY(-3px);
    width: 300px;
    border-top: 5px solid #0e3750;
    border-radius: 0%;
  }
  
  @keyframes bounce {
    0% {
      tranform: translate(0, 4px);
    }
    50% {
      transform: translate(0, 8px);
    }
  } 

  /*  BOTÓN ENVIAR FORMULARIO  */
/* From cssbuttons.io by @adamgiebl */
button {
    @extend %tipografia_subTitulo;
    font-size: 20px;
    background: map-get($marca_producto,color-boton);
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    @include posicion(flex,center,null);
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
   }
   
   button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
   }
   
   button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
   }
   
   button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
   }
   
   button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
   }
   
   button:hover span {
    transform: translateX(5em);
   }
   
   button:active {
    transform: scale(0.95);
   }
   
   @keyframes fly-1 {
    from {
     transform: translateY(0.1em);
    }
   
    to {
     transform: translateY(-0.1em);
    }
   }

  
  
  
