@import '../components/mixin';
@import '../components/mediaQuery';

.logo_contacto_footer {
    width: 30%;
    
}
#logo_petit_footer {
    /* logo de Petit Bocatto del Footer */
    /*width: 30%;*/
    @include posicion(flex,center,null);
    flex:0.37;
    width: 30%;
    border-radius: 34px;
}

#footer_contenido{
  
    @include xs{
        
        display: flex;
    }
    @include sm{
        display: flex;
    }
    @include md{
        display:flex;
    }
   

   

}

