
@import '../components/mapas';
@import '../components/mixin';
@import '../components/mediaQuery';


.header{
    
    @include posicion(flex,center,null);
    
    margin-bottom: 2rem;
    position: sticky;
    top: 0;
   display: flex;
    z-index: 9999;
    background-color: white;
     .header_logo{
         @include posicion(flex,flex-end,null);
        
        img{
            flex:1;
            width: 55%;
            border-radius: 64px;
        }
        
    }
     .header_menu{
        
        background-color: map-get($marca_producto, color-menu);
        @include posicion(flex,center,space-around);
        flex:5;
        margin: auto 0 auto 0;
        display: flex;
        
        div {
            
             .panelmenu{
              
                .menu{
                    list-style: none;
                    @include posicion(flex,null,space-around);
                   
                    .menu_item{
                        padding: 0em 1em;
                        margin: 1em;
                        background-color: map-get($marca_producto,color-menu);
                        font-size: 1.2em;
                        text-decoration: none;
                        a{
                            text-decoration: none;
                            color: white;
                            text-align: center;
                            &:hover{
                                font-weight: bold;  
                            }
                        }
                        
                    }
                    
                    
                }
            }
        }

        
       
    }
}
.active_menu{
    padding: 2rem;
    font-weight: bold;
 
    background-color: map-get($marca_producto , color-boton);
}
.header_menu{
    @include xs{
        width: 100%;
    }
    @include sm{
        width: 100%;
    }
   
}

#logo_menu2{
  
    @include xs{
        display:none;
    }
    @include sm{
        display:none;
    }
    @include md{
        display:none;
    }
    @include lg{
        display:none;
        flex:1;
    }
    @include xl{
        display:flex;
        flex:1;
    } @include xxl{
        display:flex;
        flex:1;
    }

   

}
