
@import '../components/mapas';
@import '../components/mixin';


.header{
    @include posicion(grid,center,null);
    grid-template-columns: 0.2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header_logo" "header_menu";
    position: sticky;
    top: 0;
    grid-area: "header";
    z-index: 9999;
    background-color: white;
     .header_logo{
         @include posicion(flex,flex-end,null);
        
        img{
            flex:1;
            width: 55%;
            border-radius: 64px;
        }
        
    }
     .header_menu{
        
        background-color: map-get($marca_producto, color-menu);
        @include posicion(flex,center,space-around);
        flex:2;
        margin: auto 5rem auto 0;
        grid-area:"header_menu";
        
        div {
            
             .panelmenu{
              
                .menu{
                    list-style: none;
                    @include posicion(flex,null,space-around);
                   
                    .menu_item{
                        padding: 0em 1em;
                        margin: 1em;
                        background-color: map-get($marca_producto,color-menu);
                        font-size: 1.2em;
                        text-decoration: none;
                        a{
                            text-decoration: none;
                            color: white;
                            text-align: center;
                            &:hover{
                                font-weight: bold;  
                            }
                        }
                    }
                    
                }
            }
        }

        
       
    }
}
.active_menu{
    padding: 2rem;
    font-weight: bold;
 
    background-color: map-get($marca_producto , color-boton);
}
